@CHARSET "ISO-8859-1";

body {
	height: 100%;
	position: absolute;
	width: 100%;
}

.message {
	display: none;
}

#box {
	position: absolute;
	top: 25%;
	bottom: 25%;
	left: 25%;
	right: 25%;
}

.button, .button2 {
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 24px;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 64px;
	position: relative;
}

.button{
	background-color: rgba(76, 175, 80, 1); /* Green */
}

.button2{
	background-color: rgba(20, 110, 180, 1); /* Blue */
}


.button:hover {
	background-color: rgba(255, 255, 255, 1); 
	border: 1px solid rgba(76, 175, 80, 1);
	border-radius: 24px;
	color: rgba(76, 175, 80, 1);
}

.button2:hover {
	background-color: rgba(255, 255, 255, 1); 
	border: 1px solid rgba(20, 110, 180, 1);
	border-radius: 24px;
	color: rgba(20, 110, 180, 1);
}