@CHARSET "ISO-8859-1";

html {
	background-color: rgba(0, 191, 255, 1);
}

#reservationForm {
	margin: 2% 5%;
	padding: 20px 20px;
	border: 10px solid;
	border-color: rgba(255, 255, 255, 1);
	border-radius: 12px;
	position: relative;
	box-shadow: 2px 2px 1px rgba(0, 128, 128, 1);
	color: rgba(255, 255, 255, 1);
}

label, button {
	display: block;
	margin-top: 20px;
	font-weight: bold;
}

button {
	cursor: pointer;
	background-color: rgba(20, 110, 180, 1);
	color: rgba(255, 255, 255, 1);
	border: 5px solid;
	border-color: rgba(20, 110, 180, 1);
	border-radius : 10px;
	padding: 10px 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 1px rgba(0, 128, 128, 1);
}

button:hover {
	color: rgba(20, 110, 180, 1);
	background-color: rgba(255, 255, 255, 1);
}

.message {
	display: none;
}