@CHARSET "ISO-8859-1";

html {
	background-color: rgba(76, 175, 80, 1);
}

#box-list {
	margin: 0 25%;
	background-color: white;
}

table {
	width: 100%;
	font-weight: bold;
	color: rgba(38, 87, 40, 1);
	border-spacing: 4px;
}

caption {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(76, 175, 80, 1);
	font-size: 300%;
	text-transform: uppercase;
}

th, td {
    text-align: center;
    padding: 8px;
}

#header {
	background-color: rgba(76, 175, 80, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 110%;
	
}

tr:nth-child(even) {
	background-color: rgba(76, 175, 80, 0.3);
}

a {
	text-decoration: none;
	color: rgba(165, 42, 42, 1);
	font-size: 150%;
}


.message {
    display: none;
}

